<form method="post" action="{{ path('app_auteur_delete', {'id': auteur.id}) }}"  data-controller="confirm"
      data-confirm-message-value="Supprimer « {{ auteur.lastName }}:{{auteur.firstName}} » ?"
      data-action="submit->confirm#confirm">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auteur.id) }}">
    <button class="btn">Delete</button>
</form>
